<div id="bottom" class="bottom"></div>
{{ config.ad.bottom }}
<footer>
    <p class="unimportant" style="margin-top:20px;text-align:center;">- Tinyboard (KC-Avackus' Niche Fork) -<br>
    Tinyboard Copyright &copy; 2010-2014 Tinyboard Development Group - KC Copyright &copy; 2024-2025 Kara & KSO Development Group<br>
    All trademarks, copyrights, comments, and images on this page are owned by and are the responsibility of their respective parties.<br>
    Donate/Support (BTC): bc1q9m9adm3gptg4x0zutn2f050w2k4gau36ajrq02</p>
</footer>
<script type="text/javascript">{% verbatim %}ready();{% endverbatim %}</script>