<p style="text-align: center">
The previous ban will be replaced by the edited ban and the ban duration will start from the time of the edit.<br/>
The ban public message will <strong>not</strong> be changed.
</p>
<hr>
{% for ban in bans %}
	<h2 style="text-align:center">Current ban</h2>
	<form style="text-align:center; margin-bottom: unset"> {# dummy form to trigger css rules #}
		{% include 'mod/ban_history.html' %}
	</form>
	<hr>
	<h2 style="text-align:center">New ban</h2>
		{% include 'mod/ban_form.html' with {'edit_ban': true} %}
{% endfor %}
