<form action="" method="post">
	<input type="hidden" name="token" value="{{ token }}">
	
	<table>
		<tr>
			<th>
				Name
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="35" autocomplete="off" value="{{ post.name|e }}">
			</td>
		</tr>
		<tr>
			<th>
				Subject
			</th>
			<td>
				<input style="float:left;" type="text" name="subject" size="25" maxlength="100" autocomplete="off" value="{{ post.subject|e }}">
				<input accesskey="s" style="margin-left:2px;" type="submit" name="post" value="Update">
			</td>
		</tr>
		<tr>
			<th>
				Comment
			</th>
			<td>
				<textarea name="body" id="body" rows="8" cols="35">{% if raw %}{{ post.body }}{% else %}{{ post.body_nomarkup }}{% endif %}</textarea>
			</td>
		</tr>
	</table>
	<p style="text-align:center">
		{% if raw %}
			Currently editing raw HTML. 
			<a href="?/{{ board }}/edit/{{ post.id }}">Edit markup instead?</a>
		{% else %}
			<a href="?/{{ board }}/edit_raw/{{ post.id }}">Edit raw HTML instead?</a>
		{% endif %}
	</p>
</form>
